<!DOCTYPE html>
<html lang="en">
    <head>
        
        <!-- Title -->
        <title>Etruck GSL | Thay đổi mật khẩu</title>
        
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta charset="UTF-8">
        <meta name="description" content="Admin Dashboard Template" />
        <meta name="keywords" content="admin,dashboard" />
        <meta name="author" content="stacks" />
        
        <!-- Styles -->
        <link href="assets/plugins/pace-master/themes/blue/pace-theme-flash.css" rel="stylesheet"/>
        <link href="assets/plugins/uniform/css/default.css" rel="stylesheet"/>
        <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/plugins/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
        <link href="assets/plugins/line-icons/simple-line-icons.css" rel="stylesheet" type="text/css"/>	
        <link href="assets/plugins/offcanvasmenueffects/css/menu_cornerbox.css" rel="stylesheet" type="text/css"/>	
        <link href="assets/plugins/waves/waves.min.css" rel="stylesheet" type="text/css"/>	
        <link href="assets/plugins/switchery/switchery.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/plugins/3d-bold-navigation/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="assets/plugins/slidepushmenus/css/component.css" rel="stylesheet" type="text/css"/>	
        <link href="assets/plugins/weather-icons-master/css/weather-icons.min.css" rel="stylesheet" type="text/css"/>	
        <link href="assets/plugins/toastr/toastr.min.css" rel="stylesheet" type="text/css"/>	
        	
        <!-- Theme Styles -->
        <link href="assets/css/meteor.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/css/layers/dark-layer.css" class="theme-color" rel="stylesheet" type="text/css"/>
        <link href="assets/css/custom.css" rel="stylesheet" type="text/css"/>
        
        <script src="assets/plugins/3d-bold-navigation/js/modernizr.js"></script>
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
    </head>
    <body class="compact-menu">
        <div class="overlay"></div>
        <main class="page-content content-wrap">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="sidebar-pusher">
                        <a href="javascript:void(0);" class="waves-effect waves-button push-sidebar">
                            <i class="icon-arrow-right"></i>
                        </a>
                    </div>
                    <div class="logo-box">
                        <a href="index.html" class="logo-text"><span>ETRUCK GSL</span></a>
                    </div>
                    <div class="topmenu-outer">
                        <div class="top-menu">
                            <ul class="nav navbar-nav navbar-left">
                                <li>		
                                    <a href="javascript:void(0);" class="sidebar-toggle"><i class="icon-arrow-left"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-settings"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-md dropdown-list theme-settings" role="menu">
                                        <li class="li-group">
                                            <ul class="list-unstyled">
                                                <li class="no-link" role="presentation">
                                                    Fixed Header 
                                                    <div class="ios-switch pull-right switch-md">
                                                        <input type="checkbox" class="js-switch pull-right fixed-header-check">
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="li-group">
                                            <ul class="list-unstyled">
                                                <li class="no-link" role="presentation">
                                                    Fixed Sidebar 
                                                    <div class="ios-switch pull-right switch-md">
                                                        <input type="checkbox" class="js-switch pull-right fixed-sidebar-check">
                                                    </div>
                                                </li>
                                                <li class="no-link" role="presentation">
                                                    Horizontal bar 
                                                    <div class="ios-switch pull-right switch-md">
                                                        <input type="checkbox" class="js-switch pull-right horizontal-bar-check">
                                                    </div>
                                                </li>
                                                <li class="no-link" role="presentation">
                                                    Toggle Sidebar 
                                                    <div class="ios-switch pull-right switch-md">
                                                        <input type="checkbox" class="js-switch pull-right toggle-sidebar-check">
                                                    </div>
                                                </li>
                                                <li class="no-link" role="presentation">
                                                    Compact Menu 
                                                    <div class="ios-switch pull-right switch-md">
                                                        <input type="checkbox" class="js-switch pull-right compact-menu-check" checked>
                                                    </div>
                                                </li>
                                                <li class="no-link" role="presentation">
                                                    Hover Menu 
                                                    <div class="ios-switch pull-right switch-md">
                                                        <input type="checkbox" class="js-switch pull-right hover-menu-check">
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="li-group">
                                            <ul class="list-unstyled">
                                                <li class="no-link" role="presentation">
                                                    Boxed Layout 
                                                    <div class="ios-switch pull-right switch-md">
                                                        <input type="checkbox" class="js-switch pull-right boxed-layout-check">
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="no-link"><button class="btn btn-default reset-options">Reset Options</button></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-bell"></i><span class="badge badge-danger pull-right">3</span></a>
                                    <ul class="dropdown-menu title-caret dropdown-lg" role="menu">
                                        <li><p class="drop-title">Bạn có 3 nhiệm vụ đang chờ xử lý!</p></li>
                                        <li class="dropdown-menu-list slimscroll tasks">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a href="#">
                                                        <div class="task-icon badge badge-success"><i class="fa fa-user"></i></div>
                                                        <span class="badge badge-roundless badge-default pull-right">1m</span>
                                                        <p class="task-details">5 tài khoản mới</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="task-icon badge badge-primary"><i class="fa fa-refresh"></i></div>
                                                        <span class="badge badge-roundless badge-default pull-right">24m</span>
                                                        <p class="task-details">3 đơn đặt chuyến</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="task-icon badge badge-danger"><i class="fa fa-phone"></i></div>
                                                        <span class="badge badge-roundless badge-default pull-right">24m</span>
                                                        <p class="task-details">2 đơn hủy chuyến</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="drop-all"><a href="#" class="text-center">Xem tất cả</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="user-name">Trần Anh Tuấn<i class="fa fa-angle-down"></i></span>
                                        <img class="img-circle avatar" src="assets/images/avatar1.png" width="40" height="40" alt="">
                                    </a>
                                    <ul class="dropdown-menu dropdown-list" role="menu">
                                        <li role="presentation"><a href="profile.html"><i class="icon-user"></i>Thông tin cá nhân</a></li>
                                        <li role="presentation"><a href="forgot_pass.html"><i class="icon-lock"></i>Thay đổi mật khẩu</a></li>
                                        <li role="presentation" class="divider"></li>
                                        <li role="presentation"><a href="login.html"><i class="icon-key m-r-xs"></i>Đăng xuất</a></li>
                                    </ul>
                                </li>
                            </ul><!-- Nav -->
                        </div><!-- Top Menu -->
                    </div>
                </div>
            </div><!-- Navbar -->
            <div class="page-sidebar sidebar">
                <div class="page-sidebar-inner slimscroll">
                    <ul class="menu accordion-menu">
                        <li><a href="index.html" class="waves-effect waves-button"><span class="menu-icon icon-home"></span><p>Dashboard</p><span class="active-page"></span></a></li>
						<li><a href="customer.html" class="waves-effect waves-button"><span class="menu-icon icon-users"></span><p>Khách hàng</p><span class="active-page"></span></a></li>
						<li><a href="plan.html" class="waves-effect waves-button"><span class="menu-icon icon-grid"></span><p>Kế hoạch XMAN</p><span class="active-page"></span></a></li>
						<li><a href="order.html" class="waves-effect waves-button"><span class="menu-icon icon-layers"></span><p>Đơn đặt chuyến</p><span class="active-page"></span></a></li>
                    </ul>
                </div><!-- Page Sidebar Inner -->
            </div><!-- Page Sidebar -->
            <div class="page-inner">
                <div class="page-title">
                    <div class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Cập nhật mật khẩu</li>
                        </ol>
                    </div>
                </div>
                <div id="main-wrapper">
					<div class="user-page__content">
    <div role="main" class="order-detail-page__container">
        <div class="order-detail-page__purchase-detail-header">
            <div class="order-detail-header">
                <div>
                    <div class="order-detail-header__state-container">
                        <div class="order-detail-header__back-button">
                            <svg class="shopee-svg-icon order-detail-header__back-button--arrow icon-arrow-left" enable-background="new 0 0 11 11" viewBox="0 0 11 11" x="0" y="0">
                                <g>
                                    <path d="m8.5 11c-.1 0-.2 0-.3-.1l-6-5c-.1-.1-.2-.3-.2-.4s.1-.3.2-.4l6-5c .2-.2.5-.1.7.1s.1.5-.1.7l-5.5 4.6 5.5 4.6c.2.2.2.5.1.7-.1.1-.3.2-.4.2z"></path>
                                </g>
                            </svg>
                            TRỞ LẠI
                        </div>
                        <div class="order-detail-header__note"><span class="order-content__header__order-sn">ID ĐƠN HÀNG. 19042618023SWVV</span><span class="order-detail-header__separator">|</span><span class="order-detail-header__status">Đã giao</span></div>
                        <div class="stepper">
                            <div class="stepper__step stepper__step--finish">
                                <div class="stepper__step-icon stepper__step-icon--finish">
                                    <img src="assets/images/icon-1.png" />
                                </div>
                                <div class="stepper__step-text">Đơn chuyến đã đặt</div>
                                <div class="stepper__step-date">17:02 26-04-2019</div>
                            </div>
                            <div class="stepper__step stepper__step--finish">
                                <div class="stepper__step-icon stepper__step-icon--finish">
                                    <img src="assets/images/icon-2.png" />
                                </div>
                                <div class="stepper__step-text">Đã xác nhận</div>
                                <div class="stepper__step-date">17:34 26-04-2019</div>
                            </div>
                            <div class="stepper__step stepper__step--finish">
                                <div class="stepper__step-icon stepper__step-icon--finish">
                                    <img src="assets/images/icon-3.png" />
                                </div>
                                <div class="stepper__step-text">Đã giao hàng</div>
                                <div class="stepper__step-date">10:39 27-04-2019</div>
                            </div>
                            <div class="stepper__step stepper__step--finish">
                                <div class="stepper__step-icon stepper__step-icon--finish">
                                    <img src="assets/images/icon-4.png" />
                                </div>
                                <div class="stepper__step-text">Đã nhận hàng</div>
                                <div class="stepper__step-date">09:16 03-05-2019</div>
                            </div>
                            <div class="stepper__step stepper__step--finish">
                                <div class="stepper__step-icon stepper__step-icon--finish">
                                    <img src="assets/images/icon-5.png" />
                                </div>
                                <div class="stepper__step-text">Đơn chuyến hoàn thành</div>
                                <div class="stepper__step-date">09:16 18-05-2019</div>
                            </div>
                            <div class="stepper__line">
                                <div class="stepper__line-background" style="background: rgb(224, 224, 224);"></div>
                                <div class="stepper__line-foreground" style="width: calc((100% - 140px) * 1); background: rgb(45, 194, 88);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="shopee-border-bottom-dotted-circle__container">
                        <div class="shopee-border-bottom-dotted-circle__circle shopee-border-bottom-dotted-circle__circle--left"> </div>
                        <div class="shopee-border-bottom-dotted-circle__circle shopee-border-bottom-dotted-circle__circle--right"> </div>
                    </div>
                </div>
                <div class="order-detail-header__action-container">
                    <div class="order-detail-header__button-wrapper-container between-xs middle-xs order-detail-header__button-wrapper-container--last">
                        <div class="order-detail-header__text-info-wrapper"><span class="purchase-text-info"><span>Đơn chuyến này đã hoàn thành.</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-detail-page__delivery__container-wrapper" style="margin-bottom: 30px;">
            <div class="shopee-border-delivery"></div>
            <div class="order-detail-page__delivery__container">
                <div class="order-detail-page__delivery__header">
                    <div class="order-detail-page__delivery__header__title">Địa chỉ nhận hàng</div>
                </div>
                <div class="order-detail-page__delivery__content">
                    <div class="order-detail-page__delivery__shipping-address__container">
                        <div class="order-detail-page__delivery__shipping-address">
                            <div class="order-detail-page__delivery__shipping-address__shipping-name">Trần Anh Tuấn</div>
                            <div class="order-detail-page__delivery__shipping-address__detail">Số điện thoại: 0982 445 584
                                <br>KHO LOGITEM - KCN TÂN QUANG, NHƯ QUỲNH, HƯNG YÊN
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shopee-border-delivery"></div>
        </div>
        <div class="order-detail-page__delivery__container-wrapper">
            <div class="shopee-border-delivery"></div>
            <div class="order-detail-page__delivery__container">
                <div class="order-detail-page__delivery__header">
                    <div class="order-detail-page__delivery__header__title">Địa chỉ giao hàng</div>
                </div>
                <div class="order-detail-page__delivery__content">
                    <div class="order-detail-page__delivery__shipping-address__container">
                        <div class="order-detail-page__delivery__shipping-address">
                            <div class="order-detail-page__delivery__shipping-address__shipping-name">Nguyễn viết Thành</div>
                            <div class="order-detail-page__delivery__shipping-address__detail">Số điện thoại: 0912 349 901
                                <br>Tòa Nhà Lạc Hồng West Lake, Phú Thượng, Tây Hồ, Hà Nội, Phường Phú Thượng, Quận Tây Hồ, Hà Nội
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shopee-border-delivery"></div>
        </div>
        <div class="order-detail-page__main-content-wrapper">
            <div class="order-detail-page__order-content-wrapper">
                <div class="order-detail-page__order-content">
                    <div class="order-content__container">
                        <div class="order-content__header">
                            <div class="order-content__header__flex-placeholder"></div>
                            <div class="order-content__header__order-sn">ID ĐƠN HÀNG. 19042618023SWVV</div>
                        </div>
                        <div class="order-content__item-list">
                            <a class="order-content__item-wrapper" href="/product/32848953/1411577450">
                                <div class="order-content__item order-content__item--last">
                                    <div class="order-content__item__col order-content__item__detail">
                                        <div class="order-content__item__product">
                                            <div class="order-content__item__image">
                                                <div class="shopee-image__wrapper">
                                                    <div class="shopee-image__place-holder">
                                                        <svg class="shopee-svg-icon icon-loading-image" enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0">
                                                            <g>
                                                                <rect fill="none" height="8" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="10" x="1" y="4.5"></rect>
                                                                <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="1" x2="11" y1="6.5" y2="6.5"></line>
                                                                <rect fill="none" height="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="3" x="11" y="6.5"></rect>
                                                                <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="1" x2="11" y1="14.5" y2="14.5"></line>
                                                                <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="6" x2="6" y1=".5" y2="3"></line>
                                                                <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="3.5" x2="3.5" y1="1" y2="3"></line>
                                                                <line fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="8.5" x2="8.5" y1="1" y2="3"></line>
                                                            </g>
                                                        </svg>
                                                    </div>
                                                    <div class="shopee-image__content" style="background-image: url(&quot;https://cf.shopee.vn/file/9caca45cfcc760685ca665762673d0e8_tn&quot;);">
                                                        <div class="shopee-image__content--blur"> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="order-content__item__detail-content">
                                                <div class="order-content__item__name">Áo thun nam nữ Mirako One Piece 03 - Zoro</div>
                                                <div class="order-content__item__variation">Phân loại hàng: L</div>
                                                <div class="order-content__item__quantity">x 1</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-content__item__price order-content__item__col order-content__item__col--small order-content__item__col--last">
                                        <div class="order-content__item__price-text">
                                            <div class="">₫198.000</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shopee-border-bottom-dotted-circle__container">
                <div class="shopee-border-bottom-dotted-circle__circle shopee-border-bottom-dotted-circle__circle--left"> </div>
                <div class="shopee-border-bottom-dotted-circle__circle shopee-border-bottom-dotted-circle__circle--right"> </div>
            </div>
            <div class="payment-detail__container">
                <div class="payment-detail__item">
                    <div class="payment-detail__item__description">Tổng tiền hàng</div>
                    <div class="payment-detail__item__value">
                        <div class="payment-detail__item__value-text">₫198.000</div>
                    </div>
                </div>
                <div class="payment-detail__item">
                    <div class="payment-detail__item__description">Vận chuyển-Giao Hàng Nhanh</div>
                    <div class="payment-detail__item__value">
                        <div class="payment-detail__item__value-text">₫42.785</div>
                    </div>
                </div>
                <div class="payment-detail__item">
                    <div class="payment-detail__item__description">
                        Miễn Phí Vận Chuyển
                        <div class="shopee-drawer ">
                            <svg class="shopee-svg-icon payment-detail__question-mark icon-help" enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0">
                                <g>
                                    <circle cx="7.5" cy="7.5" fill="none" r="6.5" stroke-miterlimit="10"></circle>
                                    <path d="m5.3 5.3c.1-.3.3-.6.5-.8s.4-.4.7-.5.6-.2 1-.2c.3 0 .6 0 .9.1s.5.2.7.4.4.4.5.7.2.6.2.9c0 .2 0 .4-.1.6s-.1.3-.2.5c-.1.1-.2.2-.3.3-.1.2-.2.3-.4.4-.1.1-.2.2-.3.3s-.2.2-.3.4c-.1.1-.1.2-.2.4s-.1.3-.1.5v.4h-.9v-.5c0-.3.1-.6.2-.8s.2-.4.3-.5c.2-.2.3-.3.5-.5.1-.1.3-.3.4-.4.1-.2.2-.3.3-.5s.1-.4.1-.7c0-.4-.2-.7-.4-.9s-.5-.3-.9-.3c-.3 0-.5 0-.7.1-.1.1-.3.2-.4.4-.1.1-.2.3-.3.5 0 .2-.1.5-.1.7h-.9c0-.3.1-.7.2-1zm2.8 5.1v1.2h-1.2v-1.2z" stroke="none"></path>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="payment-detail__item__value">
                        <div class="payment-detail__item__value-text">-₫39.785</div>
                    </div>
                </div>
                <div class="payment-detail__item">
                    <div class="payment-detail__item__description">Tổng số tiền</div>
                    <div class="payment-detail__item__value payment-detail__item__value--highlighted">
                        <div class="payment-detail__item__value-text">₫201.000</div>
                    </div>
                </div>
                <div class="payment-detail__item payment-detail__item--last">
                    <div class="payment-detail__item__description">
                        <div class="payment-detail__item__description-inner">
                            <div class="payment-detail__item__icon shopee-guarantee-icon payment-detail__shopee-guarantee-icon"> </div>
                            Phương thức Thanh toán
                        </div>
                    </div>
                    <div class="payment-detail__item__value">
                        <div class="payment-detail__item__value-text"><span class="payment-detail__payment-method-value">Thanh toán khi nhận hàng</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                </div><!-- Main Wrapper -->
                <div class="page-footer">
                    <p class="no-s">2019 &copy; Vtechcom Company</p>
                </div>
            </div><!-- Page Inner -->
        </main><!-- Page Content -->
	

        <!-- Javascripts -->
        <script src="assets/plugins/jquery/jquery-3.1.0.min.js"></script>
        <script src="assets/plugins/jquery-ui/jquery-ui.min.js"></script>
        <script src="assets/plugins/pace-master/pace.min.js"></script>
        <script src="assets/plugins/jquery-blockui/jquery.blockui.js"></script>
        <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="assets/plugins/switchery/switchery.min.js"></script>
        <script src="assets/plugins/uniform/js/jquery.uniform.standalone.js"></script>
        <script src="assets/plugins/offcanvasmenueffects/js/classie.js"></script>
        <script src="assets/plugins/waves/waves.min.js"></script>
        <script src="assets/plugins/3d-bold-navigation/js/main.js"></script>
        <script src="assets/plugins/waypoints/jquery.waypoints.min.js"></script>
        <script src="assets/plugins/toastr/toastr.min.js"></script>
        <script src="assets/plugins/flot/jquery.flot.min.js"></script>
        <script src="assets/plugins/flot/jquery.flot.time.min.js"></script>
        <script src="assets/plugins/flot/jquery.flot.symbol.min.js"></script>
        <script src="assets/plugins/flot/jquery.flot.resize.min.js"></script>
        <script src="assets/plugins/flot/jquery.flot.tooltip.min.js"></script>
        <script src="assets/plugins/curvedlines/curvedLines.js"></script>
        <script src="assets/plugins/chartjs/Chart.bundle.min.js"></script>
        <script src="assets/js/meteor.min.js"></script>
        
    </body>
</html>